.img1 {
width: 100%;
}

.textover {
    margin-top: -24vh;
    display: flex;
    justify-content: center;
    color: white;
}

#button1 {
    margin-top: 27vh;
    padding: 12px !important;
    font-size: 21px !important;
    display: flex;
}
