.alert {
    text-align: center;
}
h1 {
    margin: 3vh;
    margin-top: 6vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    font-size: 45px;
}
.hi {
    font-size: 21px;
    font-family: cursive;
    margin-bottom: 9vh;
}
p {
    margin-bottom: 24vh;
}
